{% extends 'base.html.twig' %}

{% block title %}Ville desservies{% endblock %}

{% block body %}
    {% include '/includes/header.html.twig' %}
    <h1>Les villes desservies</h1>
    <main class="main">
    {% block main %}
        <div class="display-box">
            <table class="table">
                <thead>
                    <tr>
                        {# <th>Id</th> #}
                        <th>Nom</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for ville in villes %}
                    <tr>
                        {# <td>{{ ville.id }}</td> #}
                        <td>{{ ville.nom }}</td>
                        <td>
                            <a href="{{ path('app_ville_show', {'id': ville.id}) }}" class="show"><i class="las la-eye icons" style="transform: scale(1.5, 1.5)"></i></a>
                            {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                            <a href="{{ path('app_ville_edit', {'id': ville.id}) }}" class="edit"><i class="las la-pen icons"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
        
    {% endblock %}
    </main>
    
    {% if app.user and "ROLE_ADMIN" in app.user.roles %}
    <a href="{{ path('app_ville_new') }}" class="create">Create new</a>
    {% endif %}
{% endblock %}
